<p>
  id: {{user.id}}<br>
  name: {{user.name}} <br>
  userName: {{user.username}}<br>
  email: {{user.email}}<br>
  address:
  street: {{user.address.street}}<br>
  suite: {{user.address.suite}}<br>
  city: {{user.address.city}}<br>
  zipcode: {{user.address.zipcode}}<br>
  geo:
  lat: {{user.address.geo.lat}}<br>
  lng:{{user.address.geo.lng}}<br>
  phone: {{user.phone}}<br>
  website: {{user.website}}<br>
  company:
  name: {{user.company.name}}<br>
  catchPhrase: {{user.company.catchPhrase}}<br>
  bs: {{user.company.bs}}
</p>
